/* Reset CSS */

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, figure, blockquote, fieldset, legend {
    margin: 0;
}

/* Remove default padding */
h1, h2, h3, h4, h5, h6, ul, ol, dl, figure, blockquote, fieldset, pre {
    padding: 0;
}

/* Remove list styles */
ul, ol {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove arrow from input type="number" */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove input[type="search"] styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Remove default styles for IE */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Reset focus outline for non-keyboard users */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

/* Remove default input styles */
input,
textarea,
select,
button {
    font: inherit;
    margin: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-play-state: paused !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
}